.wbdv-vcc-borderless {
    border-bottom: 0 none;
    border-right: 0 none;
    border-left: 0 none;
}

/*.wbdv-vcc-vert-padding {*/
/*    padding-top: 30px;*/
/*    padding-bottom: 30px;*/
/*}*/

/*.wbdv-vcc-horizontal-padding {*/
/*    padding-left: 15px;*/
/*    padding-right: 15px;*/
/*}*/
